/* line 1, ../../../src/scss/setup.scss */
.setup-finished {
  padding-top: 3em;
  padding-bottom: 4em;
  text-align: center;
}
/* line 7, ../../../src/scss/setup.scss */
.setup-finished .all-ok {
  display: inline-block;
  margin-bottom: 1em;
}
/* line 12, ../../../src/scss/setup.scss */
.setup-finished .main {
  margin: 0;
}
/* line 16, ../../../src/scss/setup.scss */
.setup-finished .sub {
  color: silver;
}
