body.initial {
  padding-top: 0;

  .menu {
    display: none;
  }
}

.menu {
  .logo {
  }

  .steps {
    margin-right: 20px;
  }
}

.outernet-logo {
  margin-top: 20px;
  margin-bottom: 8px;
}

.wizard-steps {
  text-align: center;
  color: silver;
}

.buttons {
  a.button,
  button
  {
    margin-bottom: 0.5em;
  }
}

.timezone-container {
  select:nth-child(2),
  select:nth-child(3)
  {
    max-width: 48%;
    margin-right: 0.2em;

    @include phone-portrait-wide {
      max-width: 100%;
      margin-bottom: 0.2em;
    }
  }
}

.steps {
  display: inline-block;

  span {
    display: inline-block;
  }

  .step {
  }

  .previous {
  }

  .current {
  }
}

.h-bar {
  position: relative;

  .step-logo {
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  @each $step-name in (language, datetime, superuser, ondd) {
    .step-#{$step-name} {
    }
  }

  padding-bottom: 50px;
}

.large {
  padding-left: $form-text-offset;
  color: $border;
  font-size: 200%;
  line-height: 120%;
}

.note {
  .label {

    &.inline {
      display: inline-block;
    }
  }

  .large {
    color: $sky25d;
  }
}
